/* Styling nav differently for the individual projects sections */

nav {
  position: static;
}

.JPlogo {
  position: absolute;
  z-index: 100;
}

/* Styling headline Images for each project */


#Azera {
  background: url('assets/Projects/Azera/BuzzingIll.png');
  background-size: auto 100%;
}

#Hashtag {
  background: url('assets/Projects/Hashtag/ScreensComposition.png');
  background-size: auto 100%;
}

#MTB {
  background: url('assets/Projects/MTB/HeadComposition1.png');
  background-size: auto 100%;
}

#WS {
  background: url('assets/Projects/WalkingStrategy/HeadCompositionWhite.png');
  background-size: auto 100%;
}

#Skillshare {
  background: url('assets/Projects/Skillshare/HeadCompositionTransp1.png');
  background-size: auto 100%;
}

#Land {
  background: url('assets/Projects/LandUse/HeadComposition.png');
  background-size: auto 100%;
}

#DomIno {
  background: url('assets/Projects/DomIno/DomInoIll.jpg');
  background-size: auto 100%;
}

#Tangram {
  background: url('assets/Projects/Tangram/HeadCompositionGreen.png');
  background-size: auto 100%;
}

#Kitchen {
  background: url('assets/Projects/Kitchen/HeadComposition.png');
  background-size: auto 100%;
}

#ODT {
  background: url('assets/Projects/ODT/HeadComposition.png');
  background-size: auto 100%;
}

#EThor {
  background: url('assets/Projects/EThor/HeadComposition-01.png');
  background-size: auto 100%;
}

#BDent {
  background: url('assets/Projects/BDent/HeadComposition.png');
  background-size: auto 100%;
}

#DiM {
  background: url('assets/Projects/DiM/ScreensComposition.png');
  background-size: auto 100%;
}



/* Styling headline Images for all projects */

.headlineImage {
  height: 50vh;
  background-position: center;
  background-repeat: repeat-x;
}


.container {
  padding: auto 0;
  background-color: #FFFAF5;
}


.mainText {
  position: relative;
}


.shortSummary {
/* positioning the element to the right of the container div */
  position: absolute;
  top: 6rem;
  left: 100%;
  display: inline-block;
  margin-left: 1rem;
  display: inline;
  width: 16rem;
}

.shortSummary img {
  width: 8rem;
}

.shortSummary h6 {
  padding: 0;
  margin: 0;
  display: none;
  width: 6rem;
  color: #FFFAF5;
}

.explainBadge:hover > .explain {
  display: inline-block;
}


/* Styling text in the project description */

section h1 {
  padding-top: 80px ;
  font-size: 3rem;
  font-weight: 800;
}


section h3 {
  padding: 1rem 1.6rem;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 800;
  color: #41484A;
}

section h4 {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 800;
  color: #41484A;
}

cite {
  margin-left: 20rem;
  margin-right: 2rem;
  padding: 1rem 4rem;
  display: block;
  border-right: 1px solid #CCA69B;
  font-style: italic;
}

section p {
  padding: 0.6rem 2rem;
}

.p4 {
  padding: 0;
}

section p::selection, cite::selection, a::selection {
background: #518084;
color: #FFFAF5;
}

section h1::selection, h3::selection, h4::selection{
background: #30525F;
color: #FFFAF5;
}

section a {
  color: #41484A;
  background-image: linear-gradient(to bottom,
    #FFFAF5,
    #FFFAF5 70%,
    #D0ADA0 72%,
    #D0ADA0);
}

section a:hover, a:active  {
  color: #41484A;
}

.shortSummary {
  display: none;
}

.headlineImage {
  position: relative;
}

/* Styling illustrations in Tangram page */
.Tangram * {
  padding: 1rem;
}


/* Normal margin on footer part */

footer {
  margin: 0;
}
