/* Setting font family and background gradient for the entire website */
body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#D0ADA0,#FDE0D1);
}

/* .container {
  padding: 0;
} */

/* Top navigation */


nav {
  position: absolute;
  color: #41484A;
  background-color: #FFFAF5;
  -webkit-transition-property: top;
  -webkit-transition-duration:1s;
  transition-property: top;
  transition-duration: 1s;

}

.scrollUp {
  top: -26rem;
}

.scrollDown {
  top: 26rem;
}


/* Nav branding positioning and size */
.JPlogo {
  position: relative;
  left: 50%;
  margin-left: -4rem;
  background-color: white;
  width: 8rem;
  border: 1pt solid #41484A;
  border-radius: 2px;
  margin-top: 2rem;
  transition-property: top;
  transition-duration: 5s;

}

/* text inside nav positioning  */
.navDescription {
  margin: auto;
  max-width: 80%;
  text-align: center;
  padding: 2rem 0;
}

/* Styling text */
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}

/* Styling links of the nav bar */
ul {
  list-style-type: none;
  height: 40px;
  padding: 0;
}

.navLink1 {
  float: left;
  color: #41484A;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 2rem;
}

.navLink2 {
  float: right;
  color: #41484A;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 2rem;
}

.navLink1:active, .navLink1:hover, .navLink2:active, .navLink2:hover {
  color: #41484A;
}


/* Section with the projects */
.Projects {
  position: relative;
  border: 1px solid white;
  background-color: rgb(255,255,255);
  top: 36rem;
  -webkit-transition-property: top;
  -webkit-transition-duration:1s;
  transition-property: top;
  transition-duration: 1s;
}

.projRevealed {
  top: 24rem;
}

section img {
  width: 100%;
}

.Proj {
  padding: 0;
}

.Proj:hover img {
  -webkit-filter: blur(6px);
 -moz-filter: blur(6px);
 -o-filter: blur(6px);
 -ms-filter: blur(6px);
 filter: blur(6px);
}

.Proj:hover .overlay {
  opacity: 1;
  background-color: rgba(65,72,74,0.4);
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
}

.overlay h2 {
  color: white;
}

/* Footer section */
footer {
  position: relative;
  margin-top: 24rem;
  background: linear-gradient(#CCA69B,#CDA99D);
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

#footer {
  padding: 0;
}

footer a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  padding: 0 0.6rem;
  margin-top: 0.6rem;
}

footer h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

footer a:hover, a:active {
  color: white;
}


footer img {
  width: 2rem;
}
